<div class="article ">
  <table>
    <tr>
    <% @articles.in_groups_of((@articles.length/2.0).ceil, false) do |articles| %>
        <td>
        <% articles.each do |article| %>
            <div class = "article_block">
              <h2 class = "rubric">
                <%= h article.rubric %>
              </h2>
             <div>
                <h1>
                 <%= h article.title %>
               </h1>
                <div class="article_content">
                   <%= article.content %>
                </div>
                <h2 class="article autor">
                  <%= h article.autor %>
                </h2>
              </div>
            </div>
        <% end %>
        </td>
    <% end %>
    </tr>
  </table>
</div>
