html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	    margin: 0;
	    padding: 0;
	    border: 0;
	    outline: 0;
	    font-size: 100%;
	    vertical-align: baseline;
	    background: transparent;
}


@font-face {font-family: 'PT Sans'; 
	src: url('/fonts/pts55f.eot'); 
	src: local('PT Sans'), url('/fonts/pts55f.woff') format('woff'), url('/fonts/pts55f.ttf') format('truetype');}

@font-face {font-family: 'PT Sans'; 
	font-style: italic;
	src: url('/fonts/pts56f.eot'); 
	src: local('PT Sans Italic'), url('/fonts/pts56f.woff') format('woff'), url('/fonts/pts56f.ttf') format('truetype');}

@font-face {font-family: 'PT Sans';
	src: url('/fonts/pts75f.eot');
	font-style: normal;
	font-weight: bold; 
src: local('PT Sans Bold'), url('/fonts/pts75f.woff') format('woff'), url('/fonts/pts75f.ttf') format('truetype');}

@font-face {font-family: 'PT Sans';
	font-style: italic;
	font-weight: bold; 
	src: url('/fonts/pts76f.eot'); 
	src: local('PT Sans Bold Italic'), url('/fonts/pts76f.woff') format('woff'), url('/fonts/pts76f.ttf') format('truetype');}

@font-face {font-family: 'PT Sans Caption'; 
	src: url('/fonts/ptc55f.eot');
	src: local('PT Sans Caption'), url('/fonts/ptc55f.woff') format('woff'), url('/fonts/ptc55f.ttf') format('truetype');}

@font-face {font-family: 'PT Sans Caption';
	font-weight: bold; 
	src: url('/fonts/ptc75f.eot');
	src: local('PT Sans Caption Bold'), url('/fonts/ptc75f.woff') format('woff'), url('/fonts/ptc75f.ttf') format('truetype');}

@font-face {font-family: 'PT Sans Narrow';
	src: url('/fonts/ptn57f.eot');
	src: local('PT Sans Narrow'), url('/fonts/ptn57f.woff') format('woff'), url('/fonts/ptn57f.ttf') format('truetype');}

@font-face {font-family: 'PT Sans Narrow';
	font-weight: bold; 
	src: url('/fonts/ptn77f.eot');
	src: local('PT Sans Narrow Bold'), url('/fonts/ptn77f.woff') format('woff'), url('/fonts/pts77f.ttf') format('truetype');}


html {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-style: normal;
	background-color: #fff;
	height: 100%;
}

header, footer, nav, aside, section {
	display: block;
}

h1 {
	font-family: 'PT Sans Caption', Helvetica, Arial, serif;
	font-size: 1.6em;
	font-weight: bold;
	margin-bottom: 1em;
}

h2 {
	font-family: 'PT Sans Caption', Helvetica, Arial, serif;
	font-size: 1em;
	margin-bottom: 1em;
}

header {
	margin: 1em;
}

nav {
  background-color: #ff7f2a;
	padding: 0 0.7em;
	margin: 1em;
	white-space: nowrap;
  min-width: 600px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.5em 0;
}

nav ul li a {
  padding: 0 1em;
  font-weight: bold;
	font-size: 1.2em;
	text-decoration: none;
	color: #fff;
}

nav ul li a:visited {
  color: #fff;
}

nav ul li a:hover {
  text-decoration: underline;
}

.control {
  float: right;
	background-color: #fff;
	padding: 0 0.7em;
	white-space: nowrap;
}

#content {
  display: block;
}

.articlearchive {
  float: left;
  
}

.column {
  -webkit-column-count:2;
  -moz-column-count:2;
  -webkit-column-gap:2em;
  -moz-column-gap:2em;
}

.column h2
{
  column-break-before:always;
}



.sidebar {
  display:block;
  float: right;
  width: 300px;
  border: 0.1em solid #ff7f2a;
  padding: 1em;
}

ul.control {
	margin: 0;
	border: 0.1em solid #ff7f2a;
}

.control li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

.control li a {
	text-decoration: none;
	padding: 0 0.4em;
	font-weight: bold;
	color:  #ff7f2a;
}

.control li a:visited {
	color: #ff7f2a;
}

.control la a:hover {
	text-decoration: underline;
}

#content {
	margin: 1em 1.4em;
  overflow:hidden;
  background: transparent url(bggg.gif) 67% 0 repeat-y;

}

.article_block {
  margin-bottom: 3em;
}

.article_block h1 {
  font-size:1.5em;
margin:0.5em 0;
}

.article td {
  padding-right: 2em;
}
.rubric {
  margin: 0em;
  color: #ff7f2a;
  border-bottom: solid #ff7f2a;
}

.autor {
  margin: 0em;
  color:  #996600;
  text-align: right;
}


.article_content {
  margin-top: 1em;
  margin-bottom: 0em;
}
footer {
	margin: 1em;
	background-color: #ff7f2a;
  padding: 0.3em 0.7em;
  white-space: nowrap;
	text-align: right;
}

.round {
	-moz-border-radius:    10px;
  -webkit-border-radius: 10px;
	border-radius:         10px;
}

.table_main {
	height: 100%;
	width: 100%;
}

.top {
	vertical-align: top;
}

.bottom {
	vertical-align: bottom;
}

div.field, div.actions {
	margin-bottom:  1em ;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

.fieldWithErrors label {
  color: #fff;
}

#errorExplanation {
  width: 500px;
  border: 2px solid red;
  background-color: #f0f0f0;
	margin-bottom: 1em;
}

#errorExplanation h1 {
  text-align: left;
	font-size: 1.2em;
	background-color: #c00;
	color: #fff;
	padding-left: 0.2em;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
	padding-left: 0.2em;
	font-weight: bold;
	font-size: 1.2em;
}

#errorExplanation ul li {
  font-size: 1em;
  list-style: square;
	margin-left: 1.5em;
}

.flash {
	font-size: 1.2em;
	font-weight: bold;
	color: #9ade00;
	margin-bottom: 1em;
}

.error {
	color: #c00;
}

.success {
	color: #9ade00;
}

ul.users {
	margin-top: 1em;
}

.users li {
	list-style: none;
}
