*{
	padding: 0;
	margin: 0;
}

body {
	margin: 0;

	font-family: Helvetica, Arial, sans-serif;
	background-color: #fff;
}

header, footer, nav, aside, section {
	display: block;
}

header {
	margin: 1em 1em;
}

nav {
  background-color: #ff7f2a;
	padding: 0 0.7em;
	margin: 1em 1em;
	white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.5em 0;
}

nav ul li a {
  padding: 0 1em;
  font-weight: bold;
	font-size: 1.2em;
	text-decoration: none;
	color: #fff;
}

nav ul li a:visited {
  color: #fff;
}

nav ul li a:hover {
  text-decoration: underline;
}

footer {
	margin: 1em 1em;
	background-color: #ff7f2a;
  padding: 0.3em 0.7em;
  white-space: nowrap;
}

section {
	margin: 1em 1em;
}

.round {
	-moz-border-radius:    10px;
  -webkit-border-radius: 10px;
	border-radius:         10px;
}

